/* Mentor Muhammad Shajjar  */
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
  font-style: normal;
  font-family: "Figtree", sans-serif;
}

.blogcard {
  display: flex;
  flex-direction: column;
  border: 1px solid hsl(0, 0%, 7%);
  max-width: 443px;
  min-height: 604px;
  border-radius: 17px;
  margin: 50px auto;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 6px 6px 3px hsl(0, 0%, 7%);
}

.img img {
  margin: 22px 25px 0px 20px;
  /* width: 395px; */
  width: 90%;
  border-radius: 12px;
}

.content {
  margin: 5px 25px;
}
.content a {
  text-decoration: none;
  text-align: center;
  color: hsl(0, 0%, 7%);
  padding: 5px 13px;
  background-color: hsl(47, 88%, 63%);
  border-radius: 4px;
  font-weight: bolder;
  display: inline-block;
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  color: hsl(0, 0%, 7%);
  margin: 13px 0px;
}
#para {
  color: hsl(0, 0%, 7%);
  opacity: 0.9;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
}
h1 {
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 15px;
}
p {
  font-size: 17px;
  color: hsl(0, 0%, 50%);
  font-weight: 600;
  font-style: normal;
  line-height: 25px;
  opacity: 0.9;
}

h1:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.content img {
  width: 45px;
  margin: 23px 0px;
  display: inline-block;
}

h2 {
  font-size: 17px;
  font-weight: 800;
  margin: 38px 0px 0px 15px;
  display: inline-block;
}

.footer {
  display: flex;
  flex-direction: row;
}
